USE [NguyenHoangKha]
GO
/****** Object:  Table [dbo].[hinhanh]    Script Date: 1/19/2021 7:59:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinhanh](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[link] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
GO